.buttonWrapper {
  position: relative;
  cursor: pointer;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 28px;
    border-radius: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.primary {
      font-size: 16px;
      width: 248px;
      height: 48px;
      color: white;
      background: #ff6b00;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    }

    &.secondary {
      font-size: 14px;
      width: 248px;
      height: 40px;
      color: #ff9900;
      background-color: white;
      border: 2px solid #ff9900;
    }

    &.disabled {
      color: #9e9e9e;
      background: #c2c2c2;
    }
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );
    mix-blend-mode: soft-light;
    border: 3px solid white;
    border-radius: 30px;
  }

  .loading {
    width: 200px;
    height: 48px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    cursor: not-allowed;
  }
}
